SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CRON_SECRET=
AMAZON_AFFILIATE_API_KEY=
FLIPKART_AFFILIATE_API_KEY=
CROMA_AFFILIATE_API_KEY=
MYNTRA_AFFILIATE_API_KEY=
AJIO_AFFILIATE_API_KEY=
MEESHO_AFFILIATE_API_KEY=
